/doc
pom.xml
*.iml
/.idea
/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
*.*#
*.*~
*.bak
*.js
*.log
*.ifo
.#*
.nrepl-port
out/
repl/
.repl/
*.db
